body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

p{
    text-align: justify;
}

h1{
    font-size: 50px;
    font-weight: 800;
}
.orangered-color{
    color: orangered;
}

.top-title{
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    border-left: 5px solid;
    border-image: linear-gradient(orange,orangered);
    border-image-slice: 1;
    padding-left: 3%;
}

.link-button{
    background-image: linear-gradient(salmon, tomato);
    padding: .5em 1.75em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
}

.flexible-container{
    display: flex;
    margin: 2% 5%;
}

.half-width{
    width: 50%;
    margin: 5%;
}
.half-width p{
    padding: 2em 0;
    
}
 
.half-width img{
    width: 95%;
}

#mission-container h1{
    text-align: center;
}

.box-card{
    margin: 2%;
    padding: 2em;
    border-radius: 12px;
    width:33.33%;

}



.box-card img{
    width: 45%; 
}

#develop-bar{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: 0 50%;
}

#community{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: 100% 100%;
}
#darkcolor{
    background-image: linear-gradient(rgba(22, 69, 122, 0.295),rgba(153, 15, 22, 0.301));
}

#normalcolor{
    background-image: linear-gradient(rgba(10, 3, 105, 0.226),rgba(177, 3, 55, 0.205));
}

#lightcolor{
    background-image: linear-gradient(rgba(120, 6, 155, 0.151),rgba(123, 5, 233, 0.171));
}

footer{
    margin-top: 2%;
    background-color: black;
    color:white;
    text-align: center;
    padding: 5%;
    
}

footer p{
    margin-bottom:0;
    text-align: center;
}

footer h1{
    font-family: 'Raleway', sans-serif;
}

#ieeeImage img{
    width: 260px;
    height: 320px;
}

#arxivImage img{
    width: 260px;
    height: 320px;
}

.publication{
    align-items: center;
    text-align: center;
}

.publication p{
    text-align: center;
}
.publication div{
    padding: 5%;
    box-shadow: 10px 10px 50px gray;
    margin: 5%;
    border-radius: 7px;
}